<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.af.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.af.model.pojo.Product" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_desc" property="productDesc" jdbcType="VARCHAR" />
    <result column="img_addr" property="imgAddr" jdbcType="VARCHAR" />
    <result column="normal_price" property="normalPrice" jdbcType="VARCHAR" />
    <result column="promotion_price" property="promotionPrice" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
    <result column="enable_status" property="enableStatus" jdbcType="INTEGER" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="product_category_id" property="productCategoryId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>
</mapper>