<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.af.mapper.ProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.af.model.pojo.ProductCategory" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_category_id" property="productCategoryId" jdbcType="INTEGER" />
    <result column="product_category_name" property="productCategoryName" jdbcType="VARCHAR" />
    <result column="product_category_desc" property="productCategoryDesc" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>
</mapper>